/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    background: #ffe8f1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #d14b7b;
    font-size: 28px;
}

.menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: #d14b7b;
}

/* GRID GERAL */
.product-grid {
    max-width: 1300px;
    margin: 40px auto;
    display: grid;
    gap: 20px;

    /* GRID RESPONSIVO */
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

/* CARD PRINCIPAL */
.main-offer {
    background-color: #7C9449;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    min-height: 280px;
}

.main-offer-images img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* CARDS PEQUENOS */
.small-card {
    background: white;
    border: 1px solid #eee;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    padding-bottom: 45px;
    transition: transform .2s;
}

.small-card:hover {
    transform: scale(1.03);
}

/* DESCONTO */
.discount-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #5cb85c;
    padding: 6px 10px;
    color: white;
    font-size: .85em;
    font-weight: bold;
    border-radius: 5px;
}

/* IMAGEM DO PRODUTO */
.product-image img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    padding: 10px;
}

/* INFO PRODUTO */
.product-info {
    padding: 10px;
    text-align: center;
}

.product-name {
    font-weight: 900;
    font-size: 1.2em;
    margin-top: 5px;
}

.product-description {
    font-size: .9em;
    color: #555;
    min-height: 40px;
}

.original-price {
    text-decoration: line-through;
    color: #963d3d;
    margin-top: 5px;
}

.current-price {
    font-size: 1.3em;
    font-weight: bold;
}

/* BOTÃO CARRINHO */
.add-to-cart-button {
    background-color: #a4d1d1;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;

    width: 45px;
    height: 45px;
    border-radius: 8px;

    position: absolute;
    bottom: 10px;
    right: 10px;

    transition: .2s;
}

.add-to-cart-button:hover {
    background-color: #8bb8b8;
}

/* SEÇÕES INTERMEDIÁRIAS */
.section-divider {
    width: 100%;
    height: 50px;
    background: #B5C56D;
    margin: 40px 0;
}

/* FOOTER */
.footer {
    background: #ffe8f1;
    padding: 20px;
    text-align: center;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin: 8px 0;
}
