/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    background: #ffe8f1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #d14b7b;
    font-size: 28px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
} /*lista das letras*/

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: 0.3s;/* fonte das letras */
}

nav a:hover {
    color: #d14b7b; 
}

/* Banner */
.banner {
    background: #ffd3e2;
    text-align: center;
    padding: 80px 20px;
}

.banner h2 {
    font-size: 36px;
    color: #d14b7b;
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.banner button {
    background: #d14b7b;
    border: none;
    padding: 12px 28px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.banner button:hover {
    opacity: 0.8;
}

/* Destaques */
.destaques {
    padding: 50px 20px;
    text-align: center;
}

.destaques h2 {
    color: #d14b7b;
    font-size: 30px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px #00000018;
}

.card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 8px;
    color: #d14b7b;
}

/* Footer */
footer {
    background: #ffe8f1;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}